<div class="informaton-form-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="First Name" name="first_name" type="text" class="form-control" id="first_name" required [(ngModel)]="personal_values.first_name" #first_name="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" name="last_name" type="text" class="form-control" id="last_name" required [(ngModel)]="personal_values.last_name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="date_of_birth" placeholder="Date of Birth" name="date_of_birth" type="datetime" class="form-control" id="date_of_birth" required  [(ngModel)]="personal_values.date_of_birth">
        <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
        <mat-datepicker #date_of_birth></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Gender" name="gender" id="gender" class="form-control" [(ngModel)]="gender" [(ngModel)]="personal_values.gender" required>
          <mat-option *ngFor="let static_gender of registration_defaults.gender" [value]="static_gender">{{ static_gender }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-select placeholder="Rank" name="rank" id="rank" class="form-control" [(ngModel)]="rank" [(ngModel)]="personal_values.rank" required>
          <mat-option *ngFor="let static_rank of registration_defaults.rank" [value]="static_rank">{{ static_rank }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button type="submit" [disabled]="!registerForm.form.valid">Register</button>
    </div>
  </form>
</div>
    <!--
    <mat-form-field>
        <input matInput placeholder="Address" name="address">
      </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Unit Number" type="number" name="unit">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" name="city">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Province" name="province">
        <mat-option *ngFor="let province of REGISTRATION_DEFAULTS.PROVINCE" value="{{ province }}">{{ province }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Postal Code" ng-minlength="6" ng-maxlength="6" name="postal_code">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" name="email" type="email" class="form-control" [(ngModel)]="registration_validation.email" #email="ngModel">
    </mat-form-field>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
      <div *ngIf="email.errors.required">
        Email is Required
      </div>
      <div *ngIf="email.errors.type">
        Input is not in the correct format
      </div>
    </div>

    <mat-form-field>
      <input matInput placeholder="Home Number" name="home_number" type="tel">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cell Number" name="cell_number" type="tel">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Work Number" name="work_number" type="tel">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Health number" name="health_number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Family Doctor First Name" name="doctor_first">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Family Doctor Last Name" name="doctor_last">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Allergies" name="allergies"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Medical Conditions" name="medical_conditions"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Current Medications" name="current_medications"></textarea>
    </mat-form-field>

    <mat-radio-group>
        <mat-radio-button *ngFor="let funding_type of REGISTRATION_DEFAULTS.FUNDING_TYPE" value="{{ funding_type }}" name="funding_type">{{ funding_type }}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <input matInput placeholder="Registered Family Members" name="family_members">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="date_approved" placeholder="Date Approved" name="date_approved">
      <mat-datepicker-toggle matSuffix [for]="date_approved"></mat-datepicker-toggle>
      <mat-datepicker #date_approved></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="date_paid_off" placeholder="Date Paid in Full" name="date_paid_off">
      <mat-datepicker-toggle matSuffix [for]="date_paid_off"></mat-datepicker-toggle>
      <mat-datepicker #date_paid_off></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Amount Paid" name="amount_paid" type="number">
    </mat-form-field>
  -->